body{
	background:url(/static/images/bckgrnd_1.jpg) no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	line-height:1;
	height:100%;
	width:100%;
}
  .fancy_text {
    font-family: 'Kavoon', cursive;
    font-size: 27px;
    color: #eee;
    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F,
        0 0 0.2em #87F;
  }
  .fancy_header {
    font-family: 'Fruktur', cursive;
    font-size: 30px;
    color: #FF7F00;
    text-shadow: 0 0 0.2em #000, 0 0 0.2em #eee,
        0 0 0.2em #000;
  }
  .normal {
    font-family: 'Gudea', sans-serif;
    font-size: 14px;
    font-weight:400;
    color: #fff;
  }
  body {
      padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    
  }
.slides {
  margin: 0 auto;
  display:block;
  width:60%;
  height:100%;
}
.rounded_box{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width:365px;
  padding:20px;
  margin: 0 auto;
  background-color:rgba(0,0,0,0.9);
  margin-top:25px;
  color: #fff;
  font-family: Arial,Helvetica,sans-serif;
  opacity:0.9;
}
html{
	height:100%;
	width:100%;
}
#footer {
	position:absolute;
	text-align:right;
	left:0px; 
	width:100%;
	bottom:0px;
	color:#eee;
}
.input-block-level{
	width:50%;
	margin:0 auto;
}
.labels, .labels_rev {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: white;
  background-color: #222;
  font-weight: bold;
  text-align: left;
  width: 210px;     
  white-space: normal;
  word-wrap:break-word;
  padding-top: 8px;
  padding-bottom:8px;
  padding-left:8px;
  padding-right:8px;
  line-height:1.18;
}
.labels_rev {
  width: 340px;     
}
#wrapper, #map-canvas, .container{
  height:100%;
  width:100%;
}
.deal{
  color:#FFAAFF;
}
.container{
  max-width:100%;
}
.menu_table{
  width:100%;
}
.gm-style div,.gm-style span{
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-size:15px;
  font-weight:500;
}