{% extends "layout.html" %}
{% set active_page = "index" %}
{%block title %} BargainMeal! {% endblock %}
{% block content %}
<div class="rounded_box">
<h1 class="fancy_header">Restaurant Deals Made Easy </h1>
<br>
<div class="searchForm">
<form class="form" form name="input" action="{{ url_for('query') }}" method="post">
	<input type="text" class="input-block-level" placeholder="Type a location (Ex : San Francisco, CA)" name = "location" align="center"><br>
	<input type="image" id="theButton" src="static/images/button.png"/>
</form> 
</div>
<br>
<p><small> Service currently available only in the bay area!</small>
	<br>
	</div>
{% endblock %}