{% set navigation_bar = [
    ('/', 'index', 'Home'),
    ('/code', 'code', 'Code'),
    ('/about', 'about', 'About')
] -%}
{% set active_page = active_page|default('index') -%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bargain Meal Finder">
    <meta name="author" content="Cristian Figueroa">
    

    {% if title %}
    <title>{% block title %}{% endblock %}</title>
    {% else %}
    <title>Bargain Meal !</title>
    {% endif %}

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">
    


    <!-- Custom styles for this template -->

    <link href='http://fonts.googleapis.com/css?family=Fruktur' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Kavoon' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gudea' rel='stylesheet' type='text/css'>
    <link href="static/css/bargainmeal.css" rel="stylesheet">

  </head>
  <body>
    <div id="wrapper">
    <div id="header">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><span class="fancy_text">Bargain Meal ! </span></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
		    {% for href, id, caption in navigation_bar %}
		    <li{% if id == active_page %} class="active"{% endif %}><a href="{{ href|e }}">{{ caption|e }}</a></li> 
		    {% endfor %}
		  </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container">
    
      {% block content %}{% endblock %}

  </div><!-- /.container -->
      <div id = "footer">
      <footer>
        <p>&copy; Cristian Figueroa, Insight Data Science 2013
      </footer>
      </div>
  </div>
        <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="static/js/jquery-1.10.2.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>